name: Example workflow for Maven using Snyk
on: push
jobs:
  security:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Run Snyk to check for vulnerabilities
        id: get_results
        uses: snyk/actions/maven-3-jdk-11@master
        continue-on-error: true 
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          args: --json --json-file-output=snyk.json
          
      - name: Checkmarx AST CLI Action
        uses: checkmarxDev/ast-github-action@hackathon
        with:
          project_name: galactica-hackathon
          base_uri: https://ast-master.dev.cxast.net/
          cx_tenant: galactica
          cx_client_id: HACKATHON_CLIENT
          cx_client_secret: ${{ secrets.CX_CLIENT_SECRET }}
          additional_params: --external-results ./snyk.json
